@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
body {
    font-family: 'Open Sans', sans-serif;
}
::-webkit-input-placeholder {
    color: #767676;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    color: #767676;
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #767676;
}
:-ms-input-placeholder {
    color: #767676;
}
.top-bar {
    background-color: #087dc2;
    padding: 10px 0px;
}
.top-bar .call-us {
    font-size: 14px;
    color: #fff;
    float: left;
}
.top-bar .top-nav ul {
    margin: 0px;
    float: right;
    padding: 0px;
    list-style: none;
}
.top-bar .top-nav ul li {
    font-size: 14px;
    display: inline-block;
    border-right: solid 1px #fff;
    text-align: right;
}
.top-bar .top-nav ul li:last-child {
    border-right: none;
}
.top-bar .top-nav ul li a {
    color: #fff;
    padding: 0 10px 0 6px;
}
.top-bar .top-nav ul li a:hover {
    color: #efefef;
}
.top-bar .top-nav ul li a:active {
    color: #efefef;
}
.navbar-royaltrip {
   box-shadow: 0 0 5px 0 #888;
    min-height: 115px;
}
.navbar-royaltrip ul {
    margin: 24px 0 0 0;
    padding: 0px;
    list-style: none;
}
.navbar-royaltrip ul li {
    font-size: 14px;
    text-align: right;
}
.navbar-royaltrip ul li a {
    color: #3a3a3a; font-size:16px; 
    padding: 12px 10px 12px 10px; text-align:center; 
    margin-right: 8px; font-weight:bold; 
    text-transform: uppercase;
}
.navbar-royaltrip ul li a span{font-size:14px; font-weight:normal;  display:block; text-align:center;   }
.navbar-royaltrip .navbar-nav > .active > a,
.navbar-royaltrip .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #3a3a3a;
    background-color: #fee029;
    border-radius: 3px;
}
.navbar-royaltrip ul li a:hover {
    color: #3a3a3a;
    background-color: #fee029;
    border-radius: 3px;
}
.navbar-royaltrip ul li .active {
    color: #3a3a3a;
    background-color: #fee029;
    border-radius: 3px;
}
.carousel-indicators {
    bottom: 20px;
    display: none;
}
.carousel-control {
    display: none;
}
.header-part {
    position: relative;
}
.pakage-form {
    position: absolute;
    width: 100%;
    z-index: 9;
    bottom: 0px;
}
.nav > li > a:focus,
.nav > li > a:hover {
    background-color: #fee029;
    text-decoration: none;
    border: none;
    color: #000;
}
.row-space{height:35px; }
.nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    background-color: #6dc82b;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.42857;
    color: #fff;
    margin-right: 10px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
     background-color: #fee029;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #000;
    font-size: 16px;
    line-height: 1.42857;
    margin-right: 10px;
    text-transform: uppercase;
}
.nav-tabs > li > a:hover {
     background-color: #fee029;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #000;
    font-size: 16px;
    line-height: 1.42857;
    margin-right: 10px;
    text-transform: uppercase;
}
.tab-content > .tab-pane {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 6px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 6px;
    -moz-border-radius-topleft: 0;
    border-radius: 6px;
    border-top-left-radius: 0;
    padding: 35px 35px 35px 0px;
    clear: both;
}
.handpicked {
    background-color: #f5f5f5;
    border: solid 1px #e4e8ea;
}
.handpicked ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.handpicked ul li {
    float: left;
    width: 20%;
    border-right: solid 1px #e4e4e4;
}
.handpicked ul li:last-child {
    border-right: none;
}
.overlay { 
  color:#fff;
  position:absolute;
  z-index:1;
  top:50%;
  left:0;
  width:100%;
  text-align:center;
  border:0
 }
.input[type=text] { width: 40%; box-sizing: border-box; color:black; height: 35px; }
.input1[type=text] { box-sizing: border-box; color:black; height: 30px; }
p.italic {
    font-style: italic;
}
p.oblique {
    font-style: oblique;
}
p.ex2 {
    font: italic bold 12px/30px Georgia, serif;
    color: #800000;
}
.handpicked ul li h4 {
    font-size: 24px;
    padding: 12px 0px 0 0;
    margin-bottom: 0px;
    text-align: center;
    text-transform: uppercase;
    color: #767676;
}
.handpicked ul li h6 {
    font-size: 14px;
    color: #a9a9a9;
    padding: 2px 0px 12px 0;
    margin-top: 0px;
    text-align: center;
    text-transform: uppercase;
}
.pakage-box {
    border: solid 1px #e4e8ea;
}
.pakage-box p {
    color: #a9a9a9;
    line-height: 24px;
    font-size: 14px;
    padding: 10px 25px;
}
h1 {
    border-bottom: solid 1px #e4e8ea;
    font-size: 30px;
    color: #087dc2;
    padding-bottom: 18px;
    position: relative;
    margin-bottom: 25px;
}
.yallow-line {
    background-color: #fade03;
    height: 5px;
    width: 150px;
    border-radius: 3px;
    position: absolute;
    left: 0px;
    bottom: -3px;
}
h3 {
    font-size: 20px;
    color: #6dc82b;
    padding: 0 0 10px;
    text-transform: uppercase;
    text-align: center;
}
h2 {
    border-bottom: solid 1px #e4e8ea;
    font-size: 30px;
    color: #087dc2;
    padding-bottom: 18px;
    position: relative;
    margin-bottom: 25px;
    text-align: center;
}
.yallow-line-2 {
    background-color: #fade03;
    height: 5px;
    width: 150px;
    border-radius: 3px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    bottom: -3px;
}
.royaltrip-maker p {
    color: #a9a9a9;
    line-height: 24px;
    font-size: 14px;
    padding: 10px 25px;
    text-align: center;
}
.hotdistance-sec {
    display: block;
    position: relative;
}
.hotdistance-sec h2 {
    border-bottom: solid 1px #e4e8ea;
    text-align: left;
    font-size: 30px;
    color: #087dc2;
    padding-bottom: 18px;
    position: relative;
    margin-bottom: 25px;
}
.hotdistance-sec .yallow-line {
    background-color: #fade03;
    height: 5px;
    width: 150px;
    border-radius: 3px;
    position: absolute;
    left: 0px;
    bottom: -3px;
}
.hotdistance-box {
    background-color: #f6f6f6
}
h4 {
    color: #087dc2;
    font-size: 20px;
    text-align: center;
    padding: 6px 0 15px 0px
}
.controls {
    position: absolute;
    z-index: 9;
    right: 0px;
    top: 18px;
}
/*# sourceMappingURL=style.css.map */
/* carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}
#quote-carousel .carousel-control {
    display: block;
    width: auto;
}
#quote-carousel .carousel-control img {
    display: block;
    width: auto;
    height: auto;
}
/* Control buttons  */

#quote-carousel .carousel-control {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
.testmonail-img {
    height: 130px;
    width: 130px;
    float: left;
    padding-left: 40px;
    border-radius: 50%;
}
.testmonail-content {
    font-size: 14px;
    padding-left: 200px;
    padding-right: 40px;
    line-height: 24px;
    color: #a2a2a2;
}
#quote-carousel .author {
    font-size: 14px;
    color: #000;
    padding-right: 40px;
    font-style: italic;
    text-align: right;
}
/* Previous button  */

#quote-carousel .carousel-control.left {
    left: 0px;
}
/* Next button  */

#quote-carousel .carousel-control.right {
    right: 0px !important;
}
/* Changes the position of the indicators */

#quote-carousel .carousel-indicators {
    right: 50%;
    display: none;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the color of the indicators */

#newslatter {
    background: url(../img/paralax-bg.jpg) 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 100px 0;
}
#newslatter h4 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding-bottom: 0px;
}
#newslatter p {
    color: #fade03;
    text-align: center;
}
#newslatter form {
    max-width: 500px;
    margin: 0 auto;
}
#newslatter .input-medium.search-query {
    height: 41px;
    padding: 8px;
    border: solid 1px #fff;
    width: 70%;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.row-mar30 {
    margin-top: 30px;
}
#newslatter .btn {
    border-radius: 0px;
}
#newslatter .add-on {
    background-color: #6dc82b;
    border: 1px solid #fff;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    font-size: 18px;
    height: 41px;
    margin: -7px -4px -4px;
}
h5 {
    font-size: 18px;
    color: #222222;
}

.modal-body {
   
    padding: 15px;
    position: relative;
}
textarea {
    overflow: auto;
    height: 150px!important;
}
.modal-body .form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow:none;
    color: #767676;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow:none;
    color: #767676;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.modal-header {
    border-bottom:none;
    min-height: 16.43px;
     background-color: #087dc2;
    padding: 15px;
}
.modal-header h2 {
    border-bottom:none;
    color: #fff;
    font-size: 30px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
}
.modal-footer {
    border-top:none;
    padding: 15px;
    background-color:#fee029; 
    text-align: right;
}
.btn-primary {
    background-color: #087dc2;
    border-color: #0771af; font-size:16px; 
    color: #fff; border-radius:3px; 
}
.btn-success {
    background-color: #6dc82b;
    border-color: #62b823; font-size:16px; 
    color: #fff;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 7px 15px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.tour-listing-box{border:solid 1px #e4e8ea; margin-bottom:30px;   }
.tour-listing-box h3{color: #087dc2;
    font-size: 18px;
    font-weight: bold;
    margin-right: 8px;
    padding: 0px 0px;
    text-align: left;
    text-transform:capitalize; 
   }
   .tour-details-sec{margin-bottom:35px; }
.tour-details-sec h3{color: #087dc2;
    font-size: 18px;
    font-weight: bold;
    margin-right: 8px;
    padding: 0px 0px;
    text-align: left;
    text-transform:capitalize; 
   }

   .tour-details-sec h2 {
    border-bottom: solid 1px #e4e8ea;
    font-size: 30px;
    color: #087dc2;
    padding-bottom: 18px;
    position: relative;
    margin-bottom: 25px;
    text-align: left;
}
.tour-details-sec .yallow-line-2 {
    background-color: #fade03;
    height: 5px;
    width: 150px;
    border-radius: 3px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    bottom: -3px;
}
.tour-details-sec .tab-content > .tab-pane {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 6px 6px;
    clear: both;
    padding: 0 0px 35px 0;  
}
  .tour-details-sec .panel-body{border:solid 1px #e4e8ea; }
   .tour-details-sec .nav-tabs{border-bottom:none; }
  .day-night{color: #6dc82b;
    font-size: 18px;
    font-weight: bold;
    margin-right: 8px;
    padding: 15px 0 0 0px;
    text-align: left;
   }
    .price{color: #ff7403;
    font-size: 18px;
    font-weight: bold;
    margin-right: 8px;
    padding: 5px 0 0 0px;
    text-align: left;
    } 
    .right-sidebar{border:solid 1px #e4e8ea; padding:10px;  }
    .right-sidebar h2{color: #3a3a3a;
    font-size: 18px;
    font-weight: bold;
    margin-right: 0px;
    padding: 0px 0 8px 0px; margin:15px 0;  
    text-align: left;
    text-transform:capitalize;}
    .tour-btn-mar{margin-top:15px; } 
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #087dc2;
    border-color: #087dc2;
    color: #fff;
    cursor: default;
    z-index: 2;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: 0;
}
.pagination > li > a, .pagination > li > span {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #337ab7;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 8px 15px;
    position: relative;
    text-decoration: none;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.pagination{margin-top:0px; }

.social-sec .blue {
    font-size: 15px;
    color: #087dc2;
}
.social-sec .blue .fa {
    margin-right: 5px;
}
.social-sec .blue a {
    font-size: 15px;
    color: #087dc2;
}
.social-sec .blue a:hover {
    font-size: 15px;
    color: #fade03;
}
.social-sec .social-link ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.social-sec .social-link ul li {
    float: left;
    border: solid 1px #d3d3d3;
    border-right: none;
    text-align: center;
    width: 50px;
    height: 50px;
}
.social-sec .social-link ul li:last-child {
    border-right: solid 1px #d3d3d3;
}
.social-sec .social-link ul li a {
    color: #087dc2;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
}
.social-sec .social-link ul li a:hover {
    color: #efd403;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
}
.footer {
    border-top: solid 1px #d3d3d3;
    margin-top: 30px;
}
.footer p {
    font-size: 14px;
    color: #a9a9a9;
    line-height: 24px;
}
.footer ul {
    margin: 15px 0;
    padding: 0px;
    list-style: none;
}
.footer ul li {
    color: #087dc2;
    font-size: 14px;
    text-transform: uppercase;
    border-right: solid 1px #087dc2;
    display: inline-block;
    padding: 0px 10px;
}
.footer ul li:last-child {
    border-right: none;
}
.footer ul li:first-child {
    padding-left: 0px;
}
.footer ul li a {
    color: #087dc2;
    font-size: 14px;
    text-transform: uppercase;
}
.footer ul li a:hover {
    color: #fee029;
    font-size: 14px;
    text-transform: uppercase;
}
.copy-right-sec {
    background-color: #087dc2;
    padding: 20px 0 15px 0;
    margin-top: 10px;
}
.copy-right-sec p {
    font-size: 14px;
    color: #fff;
    line-height: 24px;
}
.copy-right-sec .cookies p {
    font-size: 12px;
    color: #fff;
    line-height: 24px;
}
@media (min-width: 1024px) {
      .ipad-bt-mar{margin:0px 0px 15px 0; } 
}
@media (min-width: 768px) and (max-width: 980px) {
    .social-sec .social-link ul li a {
        color: #087dc2;
        font-size: 20px;
        line-height: 35px;
        text-align: center;
    }
    .nav-tabs > li:nth-child(4) {
    float: left; margin-top:10px; 
    margin-bottom: -1px;
}
.nav-tabs > li:nth-child(5) {
    float: left; margin-top:10px; 
    margin-bottom: -1px;
}
    .social-sec .social-link ul li {
        height: 35px;
        width: 35px;
    }
    h5 {
        color: #222222;
        font-size: 14px;
    }
    .social-sec .blue {
        color: #087dc2;
        font-size: 15px;
    }
    .pakage-form form ul li {
        float: left;
        list-style: outside none none;
        padding: 10px 0 0 30px;
        width: 33%;
    }
    .tab-content > .tab-pane {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 0 6px 6px;
        clear: both;
        padding: 12px 30px 12px 0;
    }
    .select-wrapper,
    .select-wrapper select {
        width: 100%
    }
    .pakage-form form ul li input[type="submit"] {
        margin-top: 0px;
    }
    .handpicked ul li h4 {
        font-size: 18px;
    }
    .handpicked ul li h6 {
        padding: 4px 0 12px;
        font-size: 13px;
    }
    .ipad-bt-mar{margin:0px 0px 15px 0; }
    .tour-btn-mar{margin-top:0px; }
    .price{margin-bottom:10px; }
    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse {
        overflow-x: visible !important;
    }

    .navbar-collapse.in {
      overflow-y: auto !important;
    }

    .collapse.in {
      display: block !important;
    }
    .navbar-toggle {
        background-color: #087dc2;
        margin-top: 32px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-toggle .icon-bar {
        background-color: #fff;
        border-radius: 1px;
        display: block;
        height: 2px;
        width: 22px;
    }
    .navbar-toggle {
    display: block;
}
}
@media (max-width: 767px) {
    .navbar-toggle {
        background-color: #087dc2;
        margin-top: 32px;
    }
    .tour-listing-box{padding:10px; }
    .price {
    margin-bottom: 15px;
    margin-top: 0px;
}
    .nav-tabs > li {
    float: none;
    margin-bottom: 3px;
}
    .navbar-toggle .icon-bar {
        background-color: #fff;
        border-radius: 1px;
        display: block;
        height: 2px;
        width: 22px;
    }
    .testmonail-content {
        padding: 0px;
    }
    #newslatter {
        padding: 20px 0 50px 0;
    }
    #newslatter .input-medium.search-query {
        width: 62%;
    }
    .testmonail-img {
        float: none;
        margin: 0 auto;
        padding: 0px;
    }
    .hotdistance-box img {
        width: 100%;
    }
    .pakage-box img {
        width: 100%
    }
    .pakage-form form ul li {
        float: left;
        list-style: outside none none;
        padding: 9px 0 0 0px;
        width: 100%;
    }
    .select-wrapper,
    .select-wrapper select {
        width: 100%;
    }
    .pakage-form {
        bottom: 0;
        margin-top: 30px;
        position: relative;
        width: 100%;
        z-index: 9;
    }
    .tab-content > .tab-pane {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 0 6px 6px;
        clear: both;
        padding: 10px 0 0;
    }
    .pakage-form form ul {
        margin: 0 0 0 -40px;
    }
    .handpicked ul li {
        border-right: none;
        border-bottom: solid 1px #e4e4e4;
        float: none;
        width: 100%;
    }
    .top-bar .call-us {
        color: #fff;
        float: none;
        text-align: center;
        font-size: 14px;
    }
    .top-bar .top-nav ul {
        float: none;
        text-align: center;
        margin-top: 10px;
    }
    .navbar-royaltrip ul li {
        border-bottom: solid #ddd 1px;
    }
    .navbar-royaltrip ul li a {
        text-align: center;
        margin-right: 0px;
    }
    .navbar-royaltrip ul {
        margin-top: 40px;
    }
}
