{% extends "base.html" %} {% block container %}
<div class="container">
      <h1>Vip Access<span class="yallow-line"> </span></h1>
 {% for review in review %}
     	<div class='row'>
		<div class='col-sm-12'>
					<div >
					<div class="testmonail-img">
					<img class="img-circle" src="{{ review.pics.url }}" width=128 height=130>
					</div>
					<div class="testmonail-content">
					<p style="color:black;">{{review.comment}}</p><div class="author"><p style="color:black;">Trip Name : {{review.trip_name}} &nbsp; &nbsp;Rating : <font color="red">{{review.rating}}</font></p>
					</div>
					<div class="author" align="right"><p style="color:black;">By : {{review.name}}</div>

					</div>
					

</div>
			

			
		</div>
</div>
{% endfor %}
	</div>

{% endblock %}
