{% extends "base.html" %}
{% block container %}
<div class="container">
	<h1>
		Customer support<span class="yallow-line"> </span>
	</h1>
	<div class="row">
		<div class="col-sm-9">
			<p>Our friendly and trained support team is available for our
				guests to answer their travel queries and help them decide the trip.</p>

			<p>Our multilingual team is dedicated to cater our customers
				around the world. We will help you design the customized itinerary
				that takes care of the smallest details to make it a perfect
				holiday.</p>

			<div class="price">Helpline Number: +91 7676 440044.</div>
			<div class="price">Monday - Sunday: 8 am - 8 pm IST</div>
			<br>
			<p>
				Or write us to<a href="mailto:contact@royaltripmaker.com">   contact@royaltripmaker.com</a>
			</p>
		</div>
		<div class="col-sm-3">
			<div class="right-sidebar">
				<div>
					<img src="/static/img/customize-tour.jpg" class="img-responsive"
						alt="">
				</div>

			</div>
		</div>
	</div>
 </div>
{% endblock %}
