{% extends "base.html" %}
{% load staticfiles %} 
{%block meta_keywords%}{{iternary.meta_keywords}}{%endblock%}
{%block meta_description%}{{iternary.meta_description}}{%endblock%}
{%block meta_title%}{{iternary.meta_title}}{%endblock%}

{% block container %}
<div class="container">
<!-- Main component for a primary marketing message or call to action -->
	<div class="row">
		<div class="col-sm-12">
			<div class="tour-details-sec">
 				<h3>{{iternary.name}}</h3>   
				<div class="day-night">{{iternary.duration}}</div>  
				<div class="price">Pirce :{{iternary.price}}/-</div> 
            	<p>{{iternary.introduction|safe}}</p>

				<div class="with-nav-tabs">
                	<div>
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab1default">Overview</a></li>
                            <li><a data-toggle="tab" href="#tab2default">Pricing and Schedule</a></li>
                            <li><a data-toggle="tab" href="#tab3default">Itinerary</a></li>
                            <li><a data-toggle="tab" href="#tab4default">Gallery</a></li>
                            <li><a data-toggle="tab" href="#tab5default">Enquire </a></li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="tab1default" class="tab-pane fade in active">
                          {{iternary.overview|safe}}
                        </div>
                        
                        <div id="tab2default" class="tab-pane fade">
                        	{{iternary.pricing_and_schedule|safe}} 
                        </div>
                        <div id="tab3default" class="tab-pane fade">
							{{iternary.iternary|safe}} 

                        </div>
                        <div id="tab4default" class="tab-pane fade">
					        <div class="flexslider">
					          <ul class="slides">
					            <li data-thumb="img/image-slider001.jpg">
					              <img src="/static/img/image-slider001.jpg" />
					            </li>
					            <li data-thumb="img/image-slider002.jpg">
					              <img src="/static/img/image-slider002.jpg" />
					            </li>
					            <li data-thumb="img/image-slider003.jpg">
					              <img src="/static/img/image-slider003.jpg" />
					            </li>
					            <li data-thumb="img/image-slider004.jpg">
					              <img src="/static/img/image-slider004.jpg" />
					            </li>
					          </ul>
					        </div>
                        </div>
                        <div id="tab5default" class="tab-pane fade">
                         <div class="row">
          <div class="col-sm-4">
          <h2>Info<span class="yallow-line"> </span></h2>
          <p><b>Contact Person:</b>   Saurabh Sharma</p>
<p><b>Address: </b> Behind Himalaya Depot, Gali No.2, Shrawan Nath Nagar,Haridwar (U.K.), INDIA</p>
<p><b>Mobile:</b>   +91-8126178592, +91-7895138501</p>
<p><b>Email:</b>  contact@royaltripmaker.com; admin@royaltripmaker.com</p>
<p><b>Website: </b> www.royaltripmaker.com</p>
          </div>
         
          <div class="col-sm-8">
          <h2>Contact Us
          <span class="yallow-line"> </span></h2>
          <form>
        <div class="form-group">
            <input type="text" class="form-control" id="inputEmail" placeholder="Enter Full Name">
        </div>

 <div class="form-group">
            <input type="Email" class="form-control" id="inputEmail" placeholder="Enter Your Email">
        </div>
        <div class="form-group">
            <input type="phone" class="form-control"  placeholder="Enter Your Mobile Number ">
        </div>
       <div class="form-group">
            <input type="date" class="form-control"  placeholder="Date ">
        </div>
        <div class="form-group">
        <textarea  col="5" rows="5" class="form-control" placeholder="comment"></textarea>   
        </div>
        <button type="submit" class="btn btn-primary">submit</button>

    </form>
    </div>
    </div>
                        </div>
                    </div>
                </div>
            </div>      

      </div>

      </div>
      {%comment%}
      <div class="col-sm-3">
      	<div class="right-sidebar">
      		<h2>Refine Search</h2>
             <div class="checkbox">
  				<label><input type="checkbox" value="">All Region</label>
			 </div>
       		<div class="checkbox">
  				<label><input type="checkbox" value="">North India</label>
			</div>
			<div class="checkbox">
  				<label><input type="checkbox" value="">OHimalayas</label>
			</div>
			<div class="checkbox disabled">
  				<label><input type="checkbox" value="" disabled>South India </label>
			</div>
 			<h2>Search Destinations</h2>
			<div class="form-group">
				<select  class="form-control">
        			<option>Search Destinations</option>
        			<option>2</option>
        			<option>3</option>
        			<option>4</option>
      			</select>
			</div>
			<div>
				<img src="img/customize-tour.jpg" class="img-responsive" alt="">
			</div>
		</div>
      </div>
      {%endcomment%}
      </div>
    </div>
    <!-- /container -->
    

{% endblock %}    
 <!-- Place in the <head>, after the three links -->
  
    
    
    
    
    
    
    
    
    
