{% extends "base.html" %} {% block container %}
{% load staticfiles %}
<div class="container">
	<h1>
		Top Packages<span class="yallow-line"> </span>
	</h1>
	<!-- Main component for a primary marketing message or call to action -->
	<div class="row">
		{% for place in places %}
		<div class="col-sm-4" >
			<div class="pakage-box" style="height: 560px;" >
				<h3><a href="{{place.url_property}}">{{place.name}}</a></h3>
				<div>
<a href="{{place.url_property}}"><img src="{{place.main_image}}" class="img-responsive" width="100%" style="border:1px solid black;" alt=""></a>
				</div>
				<p>
				<span style="color: #a9a9a9; font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 24px;">
				{{place.introduction|safe}}
				</span>
				</p>
				
			</div>
		</div>
		{% endfor %}
	</div>
	<h1>
		Top Themes<span class="yallow-line"> </span>
	</h1>

	<div class="row">
<div class="pre-scrollable">
		{% for place in themes %}
		<div class="col-sm-3">
			<div class="pakage-box" style="height: 556px;">
				<h3><a href="{{place.url_property}}">{{place.name}}</a></h3>
				<div>
<a href="{{place.url_property}}"><img src="{{place.main_image}}" class="img-responsive" width="100%" style="border:1px solid black;" alt=""></a>
				</div>
				<p>
				<span style="color: #a9a9a9; font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 24px;">
				{{place.introduction|safe}}
				</span>
				</p>
				
			</div>
		</div>
		{% endfor %}
	</div>	
</div>
	
	<div class="royaltrip-maker">
		<h2>
			Why to choose Royal Trip Maker ?<span class="yallow-line-2"> </span>
		</h2>
		<p style="color:black;">You are at the best place, as we are the providers of
			travelling, trekking, glamping and lots of information to the most
			exquisite locations in India right from the Himalayas in the north to
			backwaters at Kerala, Sunderbans in the east to Rann of Kutch in the
			west.</p>
		<p style="color:black;">We are an innovative, forward thinking company that recognizes
			the need to move with ever-changing customer needs and that’s why our
			philosophy is one that emphasizes service, and a realization that
			effective communication is a key component in our business.And now we
			are emerging as the best providers for wildlife, adventure,pilgrimage
			and trekking trips in India.</p>
	</div>
	<div class="hotdistance-sec">
		<h2>
			Best Selling Tours<span class="yallow-line"> </span>
		</h2>
		<div class="row">
			<div class="pull-right">
				<!-- Controls -->
				<div class="controls pull-right ">
					<a data-slide="next" href="#carousel-example" class="right "><img
						alt="" src="/static/img/new-left-arrow.jpg"> </a> <a
						data-slide="prev" href="#carousel-example" class="left"><img
						alt="" src="/static/img/new-right-arrow.jpg"> </a>
				</div>
			</div>
		</div>
		<div data-ride="carousel" class="carousel slide "
			id="carousel-example">
			<!-- Wrapper for slides -->
			<div class="carousel-inner">

				<div class="item active">
					 
					<div class="row">
{% for bestsellings in bestselling %}
    {%if bestsellings.order <= 4 %} 
						<div class="col-lg-3 col-md-3 col-sm-3">

							<div class="hotdistance-box">
                                                            
								<div>

									
                                                <a href="{{bestsellings.best.url_property}}"> <img src="/{{bestsellings.best.main_image}}" class="img-responsive" style="border:1px solid black;" alt=""></a>
								</div>
		<a href="{{bestsellings.best.url_property}}"><h4>{{bestsellings.best.name}}</h4></a>
                                                                                                                                    							

							</div>

						</div>
{% endif %}
						{% endfor %}
						</div>

					</div>
				
				<div class="item">
					 
					<div class="row">
{% for bestsellings in bestselling %}
    {%if bestsellings.order > 4 and bestsellings.order <= 8 %} 

						<div class="col-lg-3 col-md-3 col-sm-3">

							<div class="hotdistance-box">
                                                            
								<div>

									
                                            <a href="{{bestsellings.best.url_property}}"><img src="/{{bestsellings.best.main_image}}" class="img-responsive" style="border:1px solid black;" alt=""></a>
								</div>
		<a href="{{bestsellings.best.url_property}}"><h4>{{bestsellings.best.name}}</h4></a>
                                                                                                                                    							

							</div>

						</div>
{% endif %}
						{% endfor %}
						</div>

					</div>
				
				
                              </div>
                                     
							
	               </div>
		<h2>
		Reviews <span class="yallow-line-2"> </span>
	</h2>
	<div class='row'>
		<div class='col-md-12'>
			<div class="carousel slide" data-ride="carousel" id="quote-carousel1">
				<!-- Bottom Carousel Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#quote-carousel" data-slide-to="1"></li>
					<li data-target="#quote-carousel" data-slide-to="2"></li>
				</ol>
				<!-- Carousel Slides / Quotes -->
				<div class="carousel-inner">
				 {% for review in review %}
				    {% if forloop.counter == 1 %}
					<!-- Quote 1 -->
					<div class="item active">
					{% else %}
						<div class="item">
					{% endif %}
					<div>
					<div class="testmonail-img">
					<img class="img-circle" src="{{ review.pics.url }}" width=128 height=130>
					</div>
					<div class="testmonail-content">
					<p style="color:black;">{{review.comment}}</p><div class="author"><p style="color:black;">Trip Name : {{review.trip_name}} &nbsp; &nbsp;Rating : <font color="red">{{review.rating}}</font></p>
					</div>
					<div class="author" align="right"><p style="color:black;">By : {{review.name}}</div>

					</div>
					</div>
					</div>
{% endfor %}
</div>
				

				<!-- Carousel Buttons Next/Prev -->
				<a data-slide="prev" href="#quote-carousel1"
					class="left carousel-control"><img
					src="/static/img/arrow-left-test-slider.png" alt=""> </a> <a
					data-slide="next" href="#quote-carousel1"
					class="right carousel-control"><img
					src="/static/img/arrow-right-test-slider.png" alt=""> </a>
			</div>
		</div>
	</div>
</div>
<h2>
		<a href="/all-review/">View All Reviews </a><span class="yallow-line-2"> </span>
	</h2>
<!-- /container -->

{% endblock %} {%block image_gallery %}
<div class='row'>
		<div class='col-sm-12'>
			<div class="carousel slide" data-ride="carousel" id="quote-carousel">
				<!-- Bottom Carousel Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#quote-carousel" data-slide-to="1"></li>
					<li data-target="#quote-carousel" data-slide-to="2"></li>
				</ol>
				<!-- Carousel Slides / Quotes -->
				 <div class="carousel-inner" role="listbox">
  {% for slider in slider %}
    {% if forloop.counter == 1 %}
    <div class="item active">
    {% else %}
    <div class="item">
    {% endif %}
        <img src="{{ slider.image.url }}" alt="Image">
      {% if slider.text %}
 <div class="overlay1">
<p style=font-size:25px; class="ex1"><a href="{{slider.url_property}}" style="color: #FFFFFF">{{slider.text}}</a></p>
</div>
    {% endif %}
    </div>
    {% endfor %}
    </div>

				<!-- Carousel Buttons Next/Prev -->
			
	<a class="left carousel-control" href="#quote-carousel" role="button"
		data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"
		aria-hidden="true"></span> <span class="sr-only">Previous</span>
	</a> <a class="right carousel-control" href="#quote-carousel" role="button"
		data-slide="next"> <span class="glyphicon glyphicon-chevron-right"
		aria-hidden="true"></span> <span class="sr-only">Next</span>
	</a>

			</div>
		</div>
	</div>
</div>
{% endblock %} {%block home_subscribe_section %}
<section id="newslatter" data-speed="6" data-type="background">
	<div class="container">
		<h4>Subscribe to Our Newsletter and Join</h4>
		<p>15,000 + Subscribers</p>
		<form class="form-search" method="get" id="s" action="/">
			<div class="input-append">
				<input type="text" class="input-medium search-query" name="s"
					placeholder="Search" value="">
				<button type="submit" class="btn add-on">Subscribe</button>
			</div>
	</div>
</section>
{% endblock %} {%block book_feed_supp_follow %}
<div class="container">
	<div class="social-sec row-mar30">
		<div class="row">
			<div class="col-sm-3">
				<h5>Book by Phone</h5>
				<div class="blue">
					<i class="fa fa-phone"></i><a href="#">+91 9570029090</a>
				</div>
			</div>
			<div class="col-sm-3">
				<h5>Give your Feedback</h5>
				<div class="blue">
					<i class="fa fa-envelope"></i>contact@royaltripmaker.com
				</div>
			</div>
			<div class="col-sm-3">
				<h5>Services and Support</h5>
				<div class="blue">
					<i class="fa fa-headphones"></i> Monday - Sunday: 8 am - 8 pm IST
				</div>
			</div>
			<div class="col-sm-3">
				<h5>Follow us</h5>
				<div class="social-link">
					<ul>
						<li><a href="https://www.facebook.com/Royal-Tripmaker-344706395630599/" target="_blank"><i class="fa fa-facebook"></i> </a></li>
						<li><a href="https://twitter.com/tripmaker_royal"><i class="fa fa-twitter" target="_blank"></i> </a></li>
						<li><a href="https://plus.google.com/104783511687111899842/posts"><i class="fa fa-google" target="_blank"></i> </a></li>
						<li><a href="#"><i class="fa fa-youtube" target="_blank"></i> </a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %} {%block footer_tour_ver_sup %}
<div class="container">
	<ul class="clearfix">
		<li><a href="listing-tour">TOURS </a></li>
		</li>
		<li><a href="reviewed-and-verified">VERIFIED </a></li>
		<li><a href="customer-support">SUPPORT </a></li>
	</ul>
	<div class="row">
		<div class="col-sm-9">
			<p style="color:black;">"We started off by wandering to amazing places in India and formed a group to make travels and treks easier, reachable and affordable by providing,
 </br>1.Travel Plans </br>2.Designing Itinerary </br>3.Providing Vehicles Arranging Porters</br>"Our cabs are pre-checked before dispatch and are fitted with.1 Global Positioning Systems (GPS)-To enable the cabs to be tracked or located in an emergency.2 Emergency kit and first aid box.3 Helpful, courteous, and fully trained drivers"
</p>
		</div>
		<div class="col-sm-3">
			<div>
				</br></br></br><img src="static/img/logo.png" class="img-responsive" alt="">
			</div>
		</div>
	</div>
</div>
{% endblock %}

