{% extends "base.html" %} {% block container %}
<div class="container">
	<h1>
		Low Price Guaranteed<span class="yallow-line"> </span>
	</h1>

	<div class="row">
		<div class="col-sm-9">


			<p>Get most out of each penny you spend while travelling hassle
				free with us. We don’t just write flat 20% or 30% off on our tours
				but make the tour a Money saver along with sweet memories of
				splendid tour.</p>

			<p>Our huge network of over 1300 service providers in the
				travelling arena assist our guests to cater to even their smallest
				needs.</p>

			<p>We have long relationships with our reliable service provider
				who have been screened with the vision to channelize money to locals
				in the area.</p>

			<p>When you contact us and show your desire to avail our
				services, our dedicated team will design a package EXCLUSIVELY for
				you according to your desires of visiting any destination of your
				choice. While designing the tour package we value your money and
				comfort while you travel with us. We have trusted local support for
				services which makes us confident about economical, Comfortable and
				safe tour to be remembered all your lifetime.</p>

			<p>So just contact us and be assured you be would be saving a lot
				while travelling with Royal Tripmaker!!!!!</p>

			<p>Happy Travelling!!!!!!!</p>


		</div>

		<div class="col-sm-3">
			<div class="right-sidebar">
				<div>
					<img src="/static/img/customize-tour.jpg" class="img-responsive" alt="">
				</div>

			</div>
		</div>
	</div>
</div>
<div class="row-space"></div>
<!-- /container -->
{% endblock %}
